<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  h1 {
    
    color:rgb(142, 36, 142);
    font-weight: bold;
  }
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-with-underline {
  border-bottom: 5px solid rgb(142, 36, 142);
  width: 100%;
}
</style>





    

    <h1 class="centered title-with-underline ">{{ title }}</h1>    



 